*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

.btn1{
    height: 330px;
    width: 40%;
    margin: 50px 100px;
    background-color: blanchedalmond;
    border-radius: 12px;
    border:1.6px solid rgba(184, 98, 98, 0.2);
    box-shadow: 2px 4px rgb(61, 56, 56);
    padding: 20px;
  
    
}

.btn1-dg{
    height: 30px;
    width: 130px;
    align-items: center;
    justify-content: center;
    background-color: rgb(145, 187, 173);
    border: 1.2px solid rgb(11, 48, 11);
    border-radius: 10px;
    font-style: oblique;
    font-weight: 900;
    transition: all 0.5s;

}
.btn1-dg:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(248, 8, 8);
}
