
*{
    
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

body{
    overflow-x: hidden;

}

.hero-header{
    height: 100%;
    width:100%;
    min-height: 100vh;
    background-color: #222;
}

.wrapper{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 20px;
    

}
header{
    padding: 40px 0 30px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;
}
.logo{
    display: inline-flex;
    justify-content: center;
    align-items:center;

}
.logo i{
    height: 45px;
    width: 45px;

  
    background-color: #007ced;
    border-radius: 50%;
    color:#fff;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 10px;
    margin-right: 5px;
    cursor:pointer;

    text-align:center;

}
.logo .logo-text{
    font-size: 24px;
    font-weight: 500;
    color: #fff;


}
nav .togglebtn{
    width: 35px;
    height: 35px;
    position:absolute;
    top:45px;
    right: 3%;
    z-index: 5;
    cursor:pointer;
    display: none;
}
nav .togglebtn span{
    display: block;
    background-color: #007ced;
    margin: 5px 0px ;
    width:100%;
    height: 3px;
    transition: 0.3s;
    transition-property: transform , opacity;

}

nav .navlinks{
    list-style-type: none;
}
nav .navlinks li{
    display: inline-block;

}
nav .navlinks li a{
    color:#d89b9b;
    margin-right: 2.5rem;
    

}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 4rem;

}
.container .hero-pic{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 15px solid #797777;
    box-shadow: 5px 7px 25px rgba(0,0,0,0.5);

}
.hero-pic img{
    height: 100%;
    width: 100%;
    transition:0.5s;
}
.hero-pic img:hover{
    transform:scale(1.2);
}
.hero-text{
    max-width: 500px;
    display: flex;
    flex-direction:column;

}
.hero-text h5{
    color: #e5e5e5;
    font-size: 15px;

}
.hero-text h5 span{
    color: #3d1b8d;
    font-size: 17px;

}
.hero-text h1{
    color: #21072e;
    font-size: 3rem;

}
.hero-text p{
    color:#dde4db;

}
.btn-group{
    /*margin:45px 0;*/
    gap: 15px;
    margin-top:20px;

    display: flex;

}
.btn-group .btn{
    border-color: #363fc4;
    color:#fff;
    background-color: #333;
    padding: 12px 25px;
    /*margin:5px 0;
   
    margin-right: 7px;*/
    border-radius: 30px;
    border:2px solid #e5e5e5;
    box-shadow: 0 10px 10px -8px rgba(0,0,0,0.5);
    text-decoration: none;
}
.btn.active{
    border-color: #007ced;
}
.btn-group .btn.active{
    border-color:#007ced;
    

}
.btn-group .btn:hover{
    background-color: #007ced;
    color:black;
    font-style: italic;
    border:2px solid rgb(144, 199, 72);
}
.hero-text .social i{
    color:#e5e5e5;
    font-size: 18px;
    margin-right: 10px;
    transition: 0.5s;

}
.hero-text .socila i:hover{
    color:#007ced;
    transform:rotate(360deg)

}
/* reposetary design display in small screen */

@media(max-width:930px)
{
    nav .togglebtn{
        display: initial;
    }
    .click {
        top:45px;
    }
    .click span{
        position:absolute;
        margin-top: 12px;

    }
    .click span:first-child{
        transform: rotate(-40deg);
    }
    .click span:nth-child(2)
    {
        opacity: 0;
        margin: 0;

    }
    .click span:last-child{
        transform: rotate(45deg);
        top:0;

    }
    nav .navlinks{
        position:absolute;
        top:110px;
        right: -100%;
        bottom:0;
        height: 100vh;
        width: 60%;
        background-color: #222;
        z-index: 3;
        box-shadow: 5px 13px 30px rgba( 0 ,0 ,0 ,0.1);
        transition: 0.5s;
        padding: 25px 0px;
    }
    nav .navlinks li{
        display: block;

    }
    nav .navlinks li a{
        display: block;
        margin-bottom: 15px;
        text-align: center;

    }
    nav .navlinks.open{
        right: 0;

    }
    
}
@media(max-width:768px)
{
    .container{
        display: column;
        padding-top: 2rem;

    }
    .hero-text{
        padding: 40px 0px;
    }
}

/* button stracture All btn */
.button-design{
    height: 110px;
    width: 250px;
    background-color: #6666;
    color:#78d166;
    border-radius: 15px;
    border:2px solid green;
    box-shadow: 2px 3px 2px rgba(#f3f0f0);
    

}
.button-design:hover{
    background-color: #6669;
    border:2px solid yellow;
}

.button-btn-dg1{
    background-color: #1f2b36;
    margin:5px;
    border: 1.2px solid rgb(129, 228, 129);
    height: 25px;
    width: 109px;
    border-radius: 15px;
    align-items: center;
    color: #ffffff;
    text-align: center;
    font-style: oblique;
}
.button-btn-dg1:hover{
    background-color: #344758;
    border: 1.2px solid rgb(147, 240, 147);


}
.button-btn-dg2{
    background-color: #6e1ace;
    margin:5px;
    border: 1.2px solid rgb(122, 136, 122);
    height: 25px;
    width: 109px;
    border-radius: 15px;
    align-items: center;
    color: #ffffff;
    text-align: center;
    font-style: oblique;
}
.button-btn-dg2:hover{
    background-color: #530b69;
    border: 1.2px solid rgb(178, 190, 178);
    

}
.button-btn-dg3{
    background-color: #107fb3;
    margin:5px;
    border: 1.2px solid rgb(47, 80, 47);
    height: 25px;
    width: 109px;
    border-radius: 15px;
    align-items: center;
    color: #ffffff;
    text-align: center;
    font-style: oblique;
}
.button-btn-dg3:hover{
    background-color: #0b1a27;
    border: 1.2px solid rgb(124, 196, 124);
    

}
.button-btn-dg4{
    background-color: #f19123;
    margin:5px;
    border: 1.2px solid rgb(110, 151, 55);
    height: 25px;
    width: 109px;
    border-radius: 15px;
    align-items: center;
    color: #ffffff;
    text-align: center;
    font-style: oblique;
}
.button-btn-dg4:hover{
    background-color: #9cc018;
    border: 1.2px solid rgb(251, 255, 0);
    

}
.button-btn-dg5{
    background-color: #ca7350;
    margin:5px;
    border: 1.2px solid rgb(228, 205, 129);
    height: 25px;
    width: 109px;
    border-radius: 15px;
    align-items: center;
    color: #ffffff;
    text-align: center;
    font-style: oblique;
}
.button-btn-dg5:hover{
    background-color: #f1366e;
    border: 1.2px solid rgb(145, 28, 110);
    

}
.button-btn-dg6{
    background-color: #2f3942;
    margin:5px;
    border: 1.2px solid rgb(51, 63, 179);
    height: 25px;
    width: 109px;
    border-radius: 15px;
    align-items: center;
    color: #ffffff;
    text-align: center;
    font-style: oblique;
}
.button-btn-dg6:hover{
    background-color: #3189d6;
    border: 1.2px solid rgb(50, 192, 180);
    

}