*{
    
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

body{
    overflow-x: hidden;

}

.hero-header{
    height: 100%;
    width:100%;
    min-height: 100vh;
    background-color: #222;
}

.wrapper{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 20px;
    

}
header{
    padding: 40px 0 30px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;
}
.logo{
    display: inline-flex;
    justify-content: center;
    align-items:center;

}
.logo i{
    height: 45px;
    width: 45px;

  
    background-color: #007ced;
    border-radius: 50%;
    color:#fff;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 10px;
    margin-right: 5px;
    cursor:pointer;

    text-align:center;

}
.logo .logo-text{
    font-size: 24px;
    font-weight: 500;
    color: #fff;


}
nav .togglebtn{
    width: 35px;
    height: 35px;
    position:absolute;
    top:45px;
    right: 3%;
    z-index: 5;
    cursor:pointer;
    display: none;
}
nav .togglebtn span{
    display: block;
    background-color: #007ced;
    margin: 5px 0px ;
    width:100%;
    height: 3px;
    transition: 0.3s;
    transition-property: transform , opacity;

}

nav .navlinks{
    list-style-type: none;
}
nav .navlinks li{
    display: inline-block;

}
nav .navlinks li a{
    color:#d89b9b;
    margin-right: 2.5rem;
    

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;

}
.container .hero-pic{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 15px solid #444;
    box-shadow: 5px 7px 25px rgba(0,0,0,0.5);

}
.hero-pic img{
    height: 100%;
    width: 100%;
    transition:0.5s;
}
.hero-pic img:hover{
    transform:scale(1.2);
}
.hero-text{
    max-width: 500px;
    display: flex;
    flex-direction:column;

}
.hero-text h5{
    color: #e5e5e5;
    font-size: 10px;

}
.hero-text h1{
    color: #c9cad1;
    font-size: 3rem;

}
.hero-text p{
    color:#78d166;

}
.btn-group{
    margin:45px 0;

}
.btn-group .btn{
    border-color: #363fc4;
    color:#fff;
    background-color: #333;
    padding: 12px 25px;
    margin:5px 0;
    border-radius: 30px;
    border:2px solid #e5e5e5;
    box-shadow: 0 10px 10px -8px rgba(0 0 0 / 78%);
}
.btn-group.btn.active{
    border-color:#007ced;
    

}
.btn-group .btn:hover{
    background-color: #007ced;
    color:black;
    font-style: italic;
    border:2px solid pink;
}

@media(max-width:930px)
{
    nav .togglebtn{
        display: initial;
    }
    .click {
        top:45px;
    }
    .click span{
        position:absolute;
        margin-top: 12px;

    }
    .click span:first-child{
        transform: rotate(-40deg);
    }
    .click span:nth-child(2)
    {
        opacity: 0;
        margin: 0;

    }
    .click span:last-child{
        transform: rotate(45deg);
        top:0;

    }
    nav .navlinks{
        position:absolute;
        top:110px;
        right: 0;
        bottom:0;
        height: 100vh;
        width: 60%;
        background-color: #222;
        z-index: 3;
        box-shadow: 5px 13px 30px rgba( 0 ,0 ,0 ,0.1);
        transition: 0.5s;
        padding: 25px 0px;
    }
    nav .navlink li{
        display: block;

    }
    nav .navlink li a{
        display: block;
        margin-bottom: 15px;
        text-align: center;

    }
    nav.navlink.open{
        right: 0;

    }
    
}

    
